<%= form_for(@user) do |f| %>
  <ul>
  <% @user.errors.full_messages.each do |error| %>
    <li><%= error %></li>
  <% end %>
  </ul>
  Username: <%= f.text_field :username, placeholder: "Put your name here", required: 'required' %><br />
  Email : <%= f.text_field :email, placeholder: "example@example.com", required: 'required' %><br />
  Password : <%= f.text_field :password, placeholder: "don't share your password", required: 'required' %><br />
  <%= f.submit 'Update' %>
<% end %>